#reference-list{
    list-style-type: none;
    padding: 10px;
}

.card {
    padding: 15px;
    border-radius: 5px;
}
.card-title{
    color: #3c4aff;
}
.card-footer{
    color: #636363;
}