<head>
	{% load staticfiles %}

	<title>Dashboard</title>

	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'hover/hover.css' %}">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">

	<style type="text/css">
	    .navbar-inverse{
            border-radius:0;
        }
        .modal-header{
            background-color: #428bca;
            color: white;
        }
        .navbar-brand{
            font-family: 'Lobster', cursive;
        }
	</style>

	<script type="text/javascript">

	</script>

</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'strange_references:dashboard' %}">Strange References</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href=""><span class="glyphicon glyphicon-user"></span> {{ user.first_name }} {{ user.last_name }}</a>
                        </li>
                        <li>
                            <a href="{% url 'strange_references:logout' %}"><span class="glyphicon glyphicon-log-in"></span> Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading" style="padding:15px 25px 15px 25px;">
                <label style="font-size:16px;" class="pull-right">{{total_ref }} References</label>
{#                <a class="btn btn-success" href="{% url 'strange_references:new_reference' %}">Add reference</a>#}
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-plus"></span> Add Reference</button>
            </div>
            <div class="panel-body">
                {% for reference in references %}
                    <ul id="reference-list">
                        <li class="card hvr-border-fade" style="width: 100%">
                            <div class="row">
                                <div class="col-md-9">
                                    <label class="lead card-title"> {{ reference.title }} </label>
                                    <p>{{ reference.note }}</p>
                                    <label>Source: </label>
                                    <a href="{{ reference.link }}"> {{ reference.link }} </a>
                                </div>
                                <div class="col-md-3" style="text-align: right; margin-top: 10px">
                                    <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#{{ reference.id }}"><span class="glyphicon glyphicon-pencil"></span> Edit</button>
                                    <a class="btn btn-danger btn-sm" href="{% url 'strange_references:delete_reference' reference.id %}"><span class="glyphicon glyphicon-trash"></span> Delete</a>
                                </div>
                            </div>
                            <label class="card-footer" style="font-size: 12px;">{{ reference.last_modified }}</label>
                        </li>
                    </ul>
                    <!-- Edit Modal, Generate a unique modal every iteration -->
                    <div class="modal fade" id="{{ reference.id }}" role="dialog">
                      <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title" style="text-align: center;">Edit your reference</h4>
                              </div>
                              <div class="modal-body">
                                 <form class="form-horizontal" role="form" action="{% url 'strange_references:edit_reference' reference.id %}" method="post">
                                     {% csrf_token %}
                                     <div class="form-group">
                                          <label class="control-label col-sm-3" for="title">Title:</label>
                                          <div class="col-sm-8">
                                              <input type="text" class="form-control" name="title" value="{{ reference.title }}" required>
                                          </div>
                                     </div>
                                      <div class="form-group">
                                            <label class="control-label col-sm-3" for="note">Note:</label>
                                            <div class="col-sm-8">
                                              <textarea class="form-control" name="note" rows ="5">{{ reference.note }}</textarea>
                                            </div>
                                      </div>
                                     <div class="form-group">
                                            <label class="control-label col-sm-3" for="link">Link:</label>
                                            <div class="col-sm-8">
                                              <input type="text" class="form-control" name="link" value="{{ reference.link }}" required>
                                            </div>
                                     </div>
                                     <div style="text-align: center;">
                                          <button type="submit" class="btn btn-info">Save</button>
                                     </div>
                                 </form>
                              </div>
                        </div>
                      </div>
                    </div>  

                {% endfor %}
            </div>
            <div class="panel-footer"><div class="container">You have {{ total_ref }} references</div></div>
        </div>
    </div>

    <!-- Modal -->
      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title" style="text-align: center;">Add a reference</h4>
                </div>
                <div class="modal-body">
                   <form class="form-horizontal" role="form" action="{% url 'strange_references:add_reference' %}" method="post">
                       {% csrf_token %}
                       <div class="form-group">
                            <label class="control-label col-sm-3" for="title">Title:</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="title" placeholder="Enter Title of Reference" required>
                            </div>
                       </div>
                        <div class="form-group">
                              <label class="control-label col-sm-3" for="note">Note:</label>
                              <div class="col-sm-8">
                                <textarea class="form-control" name="note" rows="5" placeholder="Enter any notes of remarks"></textarea>
                              </div>
                        </div>
                       <div class="form-group">
                              <label class="control-label col-sm-3" for="link">Link:</label>
                              <div class="col-sm-8">
                                <input type="text" class="form-control" name="link" placeholder="Enter source of reference" required>
                              </div>
                       </div>
                       <p style="text-align: center;">
                            <button type="submit" class="btn btn-info">Add</button>
                       </p>
                   </form>
                </div>
          </div>

        </div>
      </div>

</body>
