<h1>Register Page</h1>

<form action="{% url 'strange_references:authenticate' %}" method="post">
	{% csrf_token %}
	<label><b>Username</b></label>
	<input type="text" placeholder="Enter Username" name="uname" required></input>

	<label><b>Password</b></label>
	<input type="Password" placeholder="Enter Pasword" name="pwd" required>

    <label><b>Email</b></label>
	<input type="text" placeholder="Enter Pasword" name="email" required>

    <label><b>First Name</b></label>
	<input type="text" placeholder="Enter Pasword" name="first_name" required>

    <label><b>Last Name</b></label>
	<input type="text" placeholder="Enter Pasword" name="last_name" required>

	<button type="submit">Register</button>

</form>